# Fichiers Python compilés
__pycache__/
*.py[cod]
*$py.class
*.pyo

# Fichiers C++ compilés
*.o
*.so
*.out
*.exe
cpp/math_operations
integration/math_lib.so

# Environnements virtuels Python
venv/
env/
.env/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# CodeQL artifacts
_codeql_*
